* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

html {
  overflow-x: hidden;
}

body {
  background: #000311;
  min-height: 100vh;
}

footer {
  width: 100%;
  height: 1rem;
}

#background, #comet {
  max-width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

#background {
  z-index: -100;
}

#comet {
  z-index: -99;
}

/* NAVBAR */

.navbar {
  padding: 3vw 3vw;
}

.navbar ul {
  list-style: none;
  display: flex;
  font-size: 1.5vw;
  gap: 2rem;
  justify-content: flex-end;
}

.navbar a {
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 640px) {
  .navbar {
    display: none;
  }
}

/* APRESENTATION */

.apresentation {
  margin-top: 12vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo img {
  height: 8vw;
}

.logo h1 {
  font-weight: 900;
  font-size: 8vw;
}

.slogan {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slogan h2 {
  font-weight: 500;
  font-size: 4vw;
}

@media screen and (max-width: 720px) {
  .logo {
    flex-direction: column;
  }

  .logo img {
    height: 12rem;
  }
  
  .logo h1 {
    font-size: 12vw;
  }
  
  .slogan h2 {
    font-size: 7vw;
  }
}

/* ABOUT */

.about {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  gap: 13rem;
}

.about-item {
  display: flex;
  gap: 1rem;
}

.reverse {
  flex-direction: row-reverse;
}

.about-item img {
  height: 16rem;
}

.about-item h1 {
  font-size: 3rem;
  font-weight: 900;
}
.about-item p {
  font-size: 1.3rem;
  font-weight: 300;
}

.about-item > div {
  flex: 1;
}

@media screen and (max-width: 720px) {
  .about {
    margin-top: 20vh;
    gap: 15vh;
  }
  .about-item {
    flex-direction: column-reverse;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .about-item p {
    font-size: 4vw;
  }
  .about-item h1 {
    font-size: 7vw;
  }
  .y-p4 {
    padding: 0 0.5rem;
  }
  .about-item img {
    height: 30vh;
  }
}

/* UTILS */

.y-p4 {
  padding: 0 4rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}