* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

html {
  overflow-x: hidden;
}

body {
  background: #000
}

#background {
  max-width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

/* NAVBAR */

.navbar {
  padding: 3vw 3vw;
}

@media screen and (max-width: 640px) {
  .navbar {
    display: none;
  }
}

.navbar ul {
  list-style: none;
  display: flex;
  font-size: 1.5vw;
  gap: 2rem;
  justify-content: flex-end;
}

.navbar a {
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

/* APRESENTATION */

.apresentation {
  margin-top: 12vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.logo img {
  height: 8vw;
}

.logo h1 {
  font-weight: 900;
  font-size: 8vw;
}

.slogan h2 {
  font-weight: 500;
  font-size: 4vw;
}