/* ROADMAP */

.roadmap {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.help {
    text-align: center;
}

.help h1 {
    font-size: 4rem;
}

.help h2 {
    font-size: 1rem;
    font-weight: 500;
}

.roads {
    margin-top: 8rem;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.road h2 {
    font-size: 2rem;
}

.road {
    padding: 2rem 8rem;
    display: flex;
    gap: 8vw;
    align-items: center;
    justify-content: center;
}

.road .text, .road .illustration {
    flex: 1;
}

.road .illustration {
    display: flex;
    justify-content: center;
    align-items: center;
}

.road img {
    max-height: 16rem;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.separator svg {
    width: 45%;
    height: auto;
}

@media screen and (max-width: 720px) {
    
    .help {
        padding: 0 2rem;
    }
    
    .help h1 {
        font-size: 2rem;
    }
    .help h2 {
        font-size: 1rem;
    }
    
    .roads {
        gap: 8rem;
    }
    
    .road {
        flex-direction: column;
    }

    .separator {
        display: none;
    }

    .reverse {
        flex-direction: column-reverse;
    }
}